<script>

  $('#stuBtn').click(function () {
    let username = $("#stuNumber").val();
    let password = $("#stuPassword").val();
    $.post("/api/student/login", {
      "username": username,
      "password": password,
      "key": $(".key").val(),
      "text": $("#stuText").val()
    }).done(function (data) {
      if (data.state === "success") {
        toastr.success('认证成功');
        $(this).delay(1000).queue(function () {
          window.location.href = "/student/index";
        });
      } else {
        toastr.error(data.message);
      }
    })
  });

  $('#teacherBtn').click(function () {
    let username = $("#teacherNumber").val();
    let password = $("#teacherPassword").val();
    $.post("/api/teacher/login", {
      "username": username,
      "password": password,
      "key": $(".key").val(),
      "text": $("#teacherText").val()
    }).done(function (data) {
      if (data.state === "success") {
        toastr.success('认证成功');
        $(this).delay(1000).queue(function () {
          window.location.href = "/teacher/index"
        });
      } else {
        toastr.error(data.message);
      }
    })
  });

  $('#adminBtn').click(function () {
    let username = $("#adminId").val();
    let password = $("#adminPassword").val();
    $.post("/api/admin/login", {
      "username": username,
      "password": password,
      "key": $(".key").val(),
      "text": $("#adminText").val()
    }).done(function (data) {
      if (data.state === "success") {
        toastr.success('认证成功');
        $(this).delay(1000).queue(function () {
          window.location.href = "/admin/index";
        });
      } else {
        toastr.error(data.message);
      }
    })
  });
</script>