<script>
    // ------------------------------- 班级表单初始化 -------------------------------------
    OesUtil.queryTable('#gradeInfo', "/api/grade/listByPage", "get", [
        {title: '编号', field: 'id', sortable: false, formatter: function (value, row, index) {
            return index + 1;
        }},
        {title: '年级', field: 'level', sortable: true},
        {title: '班级统一编号', field: 'id', sortable: false},
        {title: '班级名称', field: 'gradeName', sortable: true}],
        function (params) {
            return {
                current: params.pageNumber,
                size: params.pageSize,
                key: $('#findKey').val(),
            }
        }
    );

    // 班级模糊搜索
    OesUtil.bindRequest('#findKey', '#gradeInfo', 200);

    // ------------------------------- 增加班级 -------------------------------------
    // 启动新增专业模态框
    function goSave() {
        $(".save-level").select2({theme: 'bootstrap4'});
        $("#saveModal").modal({show: true, backdrop: 'static'});
    }

    // 填充学院信息
    $.get("/api/academy").done(function (data) {
        let options = "";
        $('.academySelect').empty();
        options += "<option value=''>" + "全部" + "</option>";
        $.each(data.data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.name + "</option>";
        });
        $(".academySelect").append(options).val('').select2({theme: 'bootstrap4'});
    });

    // 专业选择框回填
    function getMajor(academyId) {
        $.get("/api/major/academy/" + academyId).done(function (data) {
            let options = "";
            $(".majorSelect").empty();
            options += "<option value=''>请选择</option>";
            $.each(data.data, function (index, e) {
                options += "<option value=" + e.id + ">" + e.major + "</option>";
            });
            $(".majorSelect").append(options).val('').select2({theme: 'bootstrap4'});
        });
    }

    $("#saveBtn").click(function () {
        OesUtil.confirm("确定增加班级吗?", function () {
            let data = $("#save-form").serialize();
            $.post("/api/grade/save", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#saveModal");
                    $('#save-form')[0].reset();
                    OesUtil.refreshTable("#gradeInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    });
</script>