<script>
    // -------------------------- 表单初始化 --------------------------------
    OesUtil.queryTable('#studentInfo', "/api/student/listByPage", "get", [
        {title: '序号', field: 'id', sortable: false,
            formatter: function (value, row, index) {
                return index + 1;
        }},
        {title: '姓名', field: 'name', sortable: true},
        {title: '学号', field: 'stuNumber', sortable: true},
        {title: '年级', field: 'level', sortable: true},
        {title: '所属学院', field: 'academy.name', sortable: true},
        {title: '专业', field: 'major.major', sortable: true},
        {title: '性别', field: 'sex', sortable: false},
        {field: 'operate', title: '操作', formatter:  function (value, row, index) {
                return ['<button class="btn btn-success btn-sm" ' +
                'onclick="goUpdate(' + row.id + ')">编辑</button>&nbsp;' +
                '<button class="btn btn-danger btn-sm" ' +
                'onclick="deleteStudent(' + row.id + ')">删除</button>' + ''].join('');
        }}],
        function (params) {
            return {
                current: params.pageNumber,
                size: params.pageSize,
                academyId: $('#findAcademy').val(),
                key: $("#findKey").val()
            };
        });

    // 分学院搜索
    $("#findAcademy").change(function () {
        OesUtil.refreshTable('#studentInfo');
    });

    // 专业名称模糊搜索
    OesUtil.bindRequest('#findKey', '#studentInfo', 200);

    // -------------------------- 删除学生 --------------------------------
    function deleteStudent(id) {
        OesUtil.confirm("确定删除学生吗?", function () {
            $.post("/api/student/delete/" + id).done(function (data) {
                if (data.code === 200) {
                    OesUtil.refreshTable('#studentInfo');
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 填充学院信息
    $.get("/api/academy").done(function (data) {
        let options = "";
        $('.academySelect').empty();
        options+="<option value=''>" + "全部" + "</option>";
        $.each(data.data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.name + "</option>";
        });
        $(".academySelect").append(options).val('').select2({theme: 'bootstrap4'});
    });

    // 获取学生信息
    function goUpdate(id) {
        $.get("/api/student/" + id, function (data) {
            $('#id').val(data.data.id);
            $('#name').val(data.data.name);
            $('#stuNumber').val(data.data.stuNumber);
            $('#level').val(data.data.level);
            $('#sex').val(data.data.sex).select2({theme: 'bootstrap4'});
            $('#academyId').val(data.data.academy.id).select2({theme: 'bootstrap4'});
            getMajor(data.data.academy.id, data.data.major.id);
            // 启动修改模态框
            $("#update-modal").modal({show: true, backdrop: 'static'});
        })
    }

    // 专选择框框回填
    function getMajor(id, majorId) {
        // 获取学院集合
        $.get("/api/major/academy/" + id).done(function (data) {
            let options = "";
            $(".majorSelect").empty();
            options += "<option value=''>请选择</option>";
            $.each(data.data, function (index, e) {
                options += "<option value=" + e.id + ">" + e.major + "</option>";
            });
            $(".majorSelect").append(options).val(majorId).select2({theme: 'bootstrap4'});
        });
    }

    // 年级择框框回填
    function getGrade(level) {
        $.get("/api/grade/listByPage?level=" + level+"&majorId="+$(".majorSelect").val()).done(function (data) {
            let options = "";
            $(".gradeSelect").empty();
            options += "<option value=''>请选择</option>";
            $.each(data.data.rows, function (index, e) {
                options += "<option value=" + e.id + ">" + e.gradeName + "</option>";
            });
            $(".gradeSelect").append(options).select2({theme: 'bootstrap4'});
        });
    }

    // 修改修生信息请求
    $("#updateBtn").click(function () {
        OesUtil.confirm("确定修改学生吗?", function () {
            let data = $('#update-form').serialize();
            $.post("/api/student/update", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#update-modal");
                    $('#update-form')[0].reset();
                    OesUtil.refreshTable("#studentInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    });

    // -------------------------- 新增学生 --------------------------------
    function goSave() {
        $("#save-modal").modal({show: true, backdrop: 'static'});
        $('.save-sex').select2({theme: 'bootstrap4'});
        $('.save-level').select2({theme: 'bootstrap4'});
    }

    // 新增学生信息请求
    $("#saveBtn").click(function () {
        OesUtil.confirm("确定增加学生吗?", function () {
            let data = $('#save-form').serialize();
            $.post("/api/student/save", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#save-modal");
                    $('#save-form')[0].reset();
                    OesUtil.refreshTable("#studentInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    });

</script>