<script>
    // -------------------------- 表单初始化 --------------------------------
    OesUtil.queryTable('#paperInfo', "/api/paper/listByPage", "get", [
        {title: '序号', field: 'id', sortable: false,
            formatter: function (value, row, index) {
                return index + 1;
        }},
        {title: '试卷编号', field: 'id', sortable: true},
        {title: '名称', field: 'paperName', sortable: false},
        {title: '状态', field: 'major', sortable: true, formatter: function (value, row, index) {
            if (row.end) {
                return "已结束";
            } else if (row.start) {
                return "考试中";
            } else {
                return "未开始";
            }
        }},
        {title: '类型', field: 'paperType', sortable: false},
        {field: 'operate', title: '操作', formatter: function (value, row, index) {
                let btn = ['<button class="btn btn-warning btn-sm updateBtn" ' +
                'onclick="goUpdate(' + row.id + ')">指派班级</button>&nbsp;'];
                let detail = ['<button class="btn btn-info btn-sm detailBtn" ' +
                'onclick="goView(' + row.id + ')">出卷信息</button>&nbsp;'];
                let delBtn = ['<button class="btn btn-danger btn-sm detailBtn" ' +
                'onclick="goDelete(' + row.id + ')">删除试卷</button>&nbsp;'];
                let delBtnLock = ['<button class="btn btn-danger btn-sm detailBtn" disabled ' +
                'onclick="goDelete(' + row.id + ')">删除试卷</button>&nbsp;'];
                let btnLock = ['<button class="btn btn-warning btn-sm" disabled>指派班级</button>&nbsp;'];
                return (row.start || row.end) ? detail + btnLock + delBtnLock.join('') :
                    detail + btn + delBtn.join('');
        }}],
        function (params) {
            return {
                current: params.pageNumber,
                size: params.pageSize,
                paperName: $("#findPaperName").val(),
                courseId: $("#findCourse").val()
        };
    });

    // ----------------------------------------- 出卷信息 -----------------------------------------
    function goView(id) {
        $.get("/api/paper/" + id, function (data) {
            $.get("/api/teacher/" + data.data.teacherId, function (teacherData) {
                $('.id').val(data.data.id);
                $('.paperName').val(data.data.paperName);
                $('.teacherWorkNumber').val(teacherData.data.workNumber);
                $('.teacherName').val(teacherData.data.name);
                $('.startTime').val(data.data.beginTime);
                $('.endTime').val(data.data.endTime);
                $("#view-modal").modal({show: true, backdrop: 'static'});
            });

        })
    }

    // ------------------------------------- 指派班级 ---------------------------------------
    function goUpdate(id) {
        $.get("/api/paper/" + id, function (data) {
            $.get("/api/major/" + data.data.majorId, function (majorData) {
                $('.id').val(data.data.id);
                $('.paperName').val(data.data.paperName);
                $('.majorName').val(majorData.data.major);
                $('.level').val(data.data.level).select2({theme: 'bootstrap4'});
                $('.gradeIds').val(data.data.gradeIds);
                $('.majorId').val(data.data.majorId);
                // 考试已经开始 禁止修改指派
                if (data.start) {
                    $('.level').attr("disabled", "disabled")
                    $('.gradeIds').attr("readonly", "readonly");
                }
                $("#update-modal").modal({show: true, backdrop: 'static'});
            });
        })
    }
    // 给试卷分配班级
    function updatePaper() {
        OesUtil.confirm("确定指派班级吗?", function () {
            let data = $('#update-form').serialize();
            $.post("/api/paper/update/gradeIds", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#update-modal");
                    $('#update-form')[0].reset();
                    OesUtil.refreshTable("#paperInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // ---------------------------------------- 删除试卷 ----------------------------
    function goDelete(id) {
        OesUtil.confirm("确定删除试卷『" + id + "』吗?", function () {
            $.post("/api/paper/delete/" + id).done(function (data) {
                if (data.code === 200) {
                    OesUtil.refreshTable("#paperInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 分课程
    $("#findCourse").change(function () {
        OesUtil.refreshTable('#paperInfo');
    });

  // 专业名称模糊搜索
  OesUtil.bindRequest('#findPaperName', '#paperInfo', 200);

  // 教师课程下拉框信息
  $.get("/api/course/lists", function (data) {
    let options = "";
    $('.courseSelect').empty();
    options += "<option value=''>全部课程</option>";
    $.each(data.data.rows, function (index, e) {
      options += "<option value=" + e.id + ">" + e.courseName + "</option>";
    });
      $(".courseSelect").append(options).val('').select2({theme: 'bootstrap4', width: "250px"});
  });
</script>