<script>
    // -------------------------- 表单初始化 --------------------------------
    OesUtil.queryTable('#teacherInfo', "/api/teacher/listByPage", "get", [
        {title: '编号', field: 'id', sortable: false, formatter: function (value, row, index) {
                return index + 1;
        }},
        {title: '姓名', field: 'name', sortable: false},
        {title: '工号', field: 'workNumber', sortable: false},
        {title: '职级', field: 'job', sortable: false}, {title: '性别', field: 'sex', sortable: false},
        {field: 'operate', title: '操作', formatter: function (value, row, index) {
                return ['  <button class="btn btn-success btn-sm" ' +
                'onclick="goUpdate(' + row.id + ')">编辑 </button>\n' + '  ' +
                '<button class="btn btn-sm btn-danger" ' +
                'onclick="deleteTeacher('+ row.id + ') ">删除</button>\n'].join('');
        }}],
        function (params) {
            return {
                current: params.pageNumber,
                size: params.pageSize,
                key: $("#findKey").val(),
            };
        });


    OesUtil.bindRequest('#findKey', '#teacherInfo', 200);

    // -------------------------- 新增教师 --------------------------------
    function goSave() {
        $("#saveModal").modal({show: true, backdrop: 'static'});
    }
    function saveTeacher() {
        OesUtil.confirm("确定增加教师吗?", function () {
            let data = $("#save-form").serialize() + "&roleId=3";
            $.post("/api/teacher/save/", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#saveModal");
                    $('#save-form')[0].reset();
                    OesUtil.refreshTable("#teacherInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // -------------------------- 编辑教师 --------------------------------
    function goUpdate(id) {
        $.get("/api/teacher/" + id, function (data) {
            $('#id').val(data.data.id);
            $('#name').val(data.data.name);
            $('#workNumber').val(data.data.workNumber);
            $('#job').val(data.data.job).select2({width: "100%", theme: "bootstrap4"});
            $('#academyId').val(data.data.academyId).select2({theme: 'bootstrap4'});
            $('#sex').val(data.data.sex).select2({width: "100%", theme: "bootstrap4"});
            $("#sex option").each(function () {
                if ($(this).val() === data.data.sex) {
                    $(this).attr('selected', true);
                }
            })
        })
        $("#updateModal").modal({show: true, backdrop: 'static'});
    }

    // 更新
    function updateTeacher() {
        OesUtil.confirm("确定修改信息吗?", function () {
            let data = $("#update-form").serialize();
            $.post("/api/teacher/update/", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#updateModal");
                    $('#update-form')[0].reset();
                    OesUtil.refreshTable("#teacherInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // -------------------------- 删除教师 --------------------------------
    function deleteTeacher(id) {
        OesUtil.confirm("确定删除学教师吗?", function () {
            $.post("/api/teacher/delete/" + id).done(function (data) {
                if (data.code === 200) {
                    OesUtil.refreshTable("#teacherInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 填充学院信息
    $.get("/api/academy").done(function (data) {
        let options = "";
        $('.academySelect').empty();
        $.each(data.data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.name + "</option>";
        });
        $(".academySelect").append(options).val('').select2({theme: 'bootstrap4'});
    });
</script>