<script>
    // ----------------------- 初始化表单 -------------------------
    OesUtil.queryTable('#questionInfo', "/api/question/listByPage", "get", [
        {title: '序号', field: 'id', sortable: false,
            formatter: function (value, row, index) {
                return index + 1;
        }},
        {title: '題目名称', field: 'questionName', sortable: false},
        {title: '类型', field: 'type', sortable: false, formatter: function (value, row, index) {
            switch (row.typeId) {
                case (1) :
                    return "单选题";
                case (2) :
                    return "多选题";
                case (3) :
                    return "判断题";
                case (4) :
                    return "填空题";
                case (5) :
                    return "简答题";
            }
        }},
        {field: 'operate', title: '操作', formatter: function (value, row, index) {
            return [' ' + '<button onclick="goView(' + row.id + ')" class="btn btn-primary btn-sm">查看 </button>&nbsp;' +
            '<button onclick="goUpdate(' + row.id + ')" class="btn btn-warning btn-sm"> 编辑 </button>&nbsp;' +
            '<button onclick="deleteQuestion(' + row.id + ')" class="btn btn-danger btn-sm">删除</button>\n'
            ].join('');
        }}],
        function (params) {
            return {
                current: params.pageNumber,
                size: params.pageSize,
                typeId: $('#findType').val(),
                courseId: $("#findCourse").val(),
                questionName: $("#findQuestionName").val()
            };
        }
    );
    // 按题型搜索
    $("#findType").change(function () {
        OesUtil.refreshTable('#questionInfo');
    });
    // 试题类型下拉框信息
    $.get("/api/type", function (data) {
        let options = "";
        $('.typeSelect').empty();
        options += "<option value=''>选择题型</option>";
        $.each(data.data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.typeName + "</option>";
        });
        $(".typeSelect").append(options).val('').select2({theme: 'bootstrap4', width: "250px"});
    });

    // 按课程搜索
    $("#findCourse").change(function () {
        OesUtil.refreshTable('#questionInfo');
    });
    // 教师课程下拉框信息
    $.get("/api/course/teacher/" + "${session.teacherId}", function (data) {
        let options = "";
        $('.courseSelect').empty();
        options += "<option value=''>全部课程</option>";
        $.each(data.data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.courseName + "</option>";
        });
        $(".courseSelect").append(options).val('').select2({theme: 'bootstrap4', width: "250px"});
    });

    // 题目名称模糊搜索
    OesUtil.bindRequest('#findQuestionName', '#questionInfo', 200);

    // ----------------------- 查看题信息 -----------------------
    // 启动查看模态框
    function goView(id) {
        $("#view-modal").modal({show: true, backdrop: 'static'});
        $.get("/api/question/" + id, function (data) {
            $(".id").val(data.data.id);
            $(".questionName").val(data.data.questionName);
            $(".answer").val(data.data.answer);
            $(".course").val(data.data.course.courseName);
            $(".teacherName").val(data.data.teacher.name);
            $(".remark").val(data.data.remark);
        })
    }

    // ----------------------- 编辑题目 -----------------------
    // 打开更新题目模态框
    function goUpdate(id) {
        $.get("/api/question/" + id, function (data) {
            $("#questionName").val(data.data.questionName);
            $("#answer").val(data.data.answer);
            $("#difficulty").val(data.data.difficulty).select2({width: "100%", theme: 'bootstrap4'});
            $("#optionA").val(data.data.optionA);
            $("#optionB").val(data.data.optionB);
            $("#optionC").val(data.data.optionC);
            $("#optionD").val(data.optionD);
            $("#remark").val(data.data.remark);
            $("#id").val(data.data.id);
            $("#typeId").val(data.data.type.id).select2({width: "100%", theme: 'bootstrap4'});
            $("#courseName").val(data.data.course.courseName);
        });
        // 打开模态框
        $("#update-modal").modal({show: true, backdrop: 'static'});
    }
    // 更新题目
    function updateQuestion() {
        OesUtil.confirm("确定更新题目吗?", function () {
            let data = $("#update-form").serialize();
            $.post("/api/question/update", data, function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#update-modal");
                    $('#update-form')[0].reset();
                    OesUtil.refreshTable("#questionInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // ----------------------- 删除题目 -----------------------
    function deleteQuestion(id) {
        OesUtil.confirm("确定要删除么？", function () {
            $.post("/api/question/delete/" + id, function (data) {
                if (data.code === 200) {
                    OesUtil.refreshTable("#questionInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        });
    }

    // ----------------------- 新增题目 -----------------------
    // 启动新增模态框
    $(".goSave").click(function () {
        $("#save-modal").modal({
            show: true,
            backdrop: 'static'
        });
    });
    // 新增题目
    function saveQuestion() {
        OesUtil.confirm("确定新增题目吗?", function () {
            let data = $("#save-form").serialize();
            $.post("/api/question/save", data, function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#save-modal");
                    $('#save-form')[0].reset();
                    OesUtil.refreshTable("#questionInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 启动导入试题模态框
    $(".importBtn").click(function () {
        $("#importModal").modal({
            show: true,
            backdrop: 'static'
        });
    });

    // 自动上传
    $('body').on('change', '#upload', function () {
        let formData = new FormData();
        let files = $($(this))[0].files[0];
        formData.append("file", files);
        toastr.info('正在提交中....');
        $.ajax({
            url: '/api/question/import',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.state === "success") {
                    toastr.success('题目解析成功，完成导入');
                    $(this).delay(800).queue(function () {
                        OesUtil.closeModal("#importModal");
                        $('#importPaper')[0].reset();
                        OesUtil.refreshTable("#questionInfo");
                    })
                } else {
                    toastr.error(res.message);
                }
            }
        });
    });
</script>