<script>
    // -------------------------- 表单初始化 --------------------------------
    OesUtil.initTable('#academyInfo', "/api/academy/listByPage", "get", [
        {title: '编号', field: 'id', sortable: false,
            formatter: function (value, row, index) {
                return index + 1;
        }},
        {title: '学院', field: 'name', sortable: false},
        {title: '学院统一代码', field: 'id', sortable: false},
        {field: 'operate', title: '操作', formatter: function (value, row, index) {
                return ['  <button class="btn btn-success btn-sm" ' +
                'onclick="goUpdate(' + row.id + ')">编辑 </button>\n' +
                '  <button class="btn btn-sm btn-danger" ' +
                'onclick="deleteAcademy('+ row.id + ') ">删除</button>\n'].join('');}}
    ]);

    // -------------------------- 新增学院数据 --------------------------------
    $("#saveBtn").click(function () {
        OesUtil.confirm("确定增加学院吗?", function () {
            let data = $("#save-form").serialize();
            $.post("/api/academy/save", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#saveModal");
                    $('#save-form')[0].reset();
                    OesUtil.refreshTable("#academyInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    });
    function goSave() {
        $("#saveModal").modal({show: true, backdrop: 'static'});
    }

    // -------------------------- 更新学院数据 --------------------------------
    function updateAcademy() {
        OesUtil.confirm("确定修改吗?", function () {
            let data = $("#update-form").serialize();
            $.post("/api/academy/update", data).done(function (data) {
                if (data.code === 200) {
                    OesUtil.closeModal("#updateModal");
                    $('#update-form')[0].reset();
                    OesUtil.refreshTable("#academyInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }
    function goUpdate(id) {
        // 获取单个学院信息
        $.get("/api/academy/" + id, function (data) {
            $('#id').val(data.data.id);
            $('#name').val(data.data.name);
        })
        $("#updateModal").modal({show: true, backdrop: 'static'});
    }

    // -------------------------- 删除学院数据 --------------------------------
    function deleteAcademy(id) {
        OesUtil.confirm("确定删除吗？", function () {
            $.post("/api/academy/delete/" + id).done(function (data) {
                if (data.code === 200) {
                    OesUtil.refreshTable("#academyInfo");
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }
</script>